/* General styles */

.ui-footer p {
	font-size: small;
	font-weight: normal;
	text-align: center;
}

/* Restaurant specific styles */

#myfood form {
    display:none;
}

#myfood a {
    display: none;
}

#rebio pre {
	font-family: inherit;
}

#vaclav b {
	font-weight: inherit;
}

#semilasso table {
	width: 100%;
}

#semilasso table * {
	font-size: initial;
}