#myfood form {
    display:none;
}

#myfood a {
    display: none;
}

#rebio pre {
	font-family: inherit;
}

#vaclav b {
	font-weight: inherit;
}

#semilasso table {
	width: 100%;
}

#semilasso table * {
	font-size: initial;
}