/* General styles */

.ui-footer p {
	font-size: small;
	font-weight: normal;
	text-align: center;
}

/* Restaurant specific styles */

#myfood form {
    display:none;
}

#myfood a {
    display: none;
}

#rebio pre {
	font-family: inherit;
}

#vaclav b {
	font-weight: inherit;
}

#opice span.price {
    float:right;
}

#opice h4 {
    display:inline;
    font-weight:normal;
}

#kanas_jidelna span.cena, #kanas_restaurace span.cena {
    margin-left:2em;
}

/* zomato */
.right {
    float: right;
}

.tmi-text-group {
   float: left;
}

.clear {
    clear: both;
}

#moname span {
    display:block;
}

/*hide the name of the day*/
#charliesmill>div:first-child {
    display:none;
}

#charliesmill .row-content :nth-child(1) {
    float:left; 
    #clear:left;
}
#charliesmill .row-content :nth-child(2) {
    text-align:right;
    float:right; 
}
#charliesmill .row {
    clear:both;
}
#charliesmill {
    padding-bottom:4em;
}

